<%
  extra_classes ||= ""
%>

<div class="about_data">
  <div class="about_data_content">
    <p class="about_data_title">Ficha técnica</p>

    <div class="about_data_row odd">
      <p class="about_data_row_title">Universo</p>
      <p class="about_data_row_text">
        Mujeres y hombres entre
        <span class="lead">35 y 60 años</span>
        con ingresos anuales de
        <span class="lead">+35.000€</span>
        que tengan contratado, al menos, un producto financiero.
      </p>
    </div>
    <div class="about_data_row even">
      <p class="about_data_row_title">Ámbito geográfico</p>
      <p class="about_data_row_text">
        <span class="lead">Ámbito nacional</span>
        a excepción de Ceuta y Melilla.
      </p>
    </div>
    <div class="about_data_row odd">
      <p class="about_data_row_title">Metodología</p>
      <p class="about_data_row_text">
        Encuestas CAWI
        <span class="lead">Multidispositivo</span>
      </p>
    </div>
    <div class="about_data_row even">
      <p class="about_data_row_title">Muestra</p>
      <p class="about_data_row_text">
        <span class="lead">1.020</span>
        entrevistas distribuidas:
      </p>

      <ul class="about_data_row_list">
        <li><span>Caída natural dentro del universo.</li>
        <li><span>Obteniendo de forma natural una base de N=159 para Barcelona (provincia) y N=208 para Madrid (provincia).</span></li>
        <li><span>El error de resultados totales por ola, con la máxima indeterminación (p=q=50%) y un intervalo de confianza del 95%, es del +/- 3,1% para la muestra representativa de 1.020 entrevistas, de +/- 7,8% para la muestra de Barcelona y de +/- 6,8% para la muestra de Madrid.</span></li>
      </ul>
    </div>
  </div>
</div>
