<%
  extra_classes ||= ""
%>

<div class="about_data">
  <div class="about_data_content">
    <p class="about_data_title">Ficha técnica del estudio</p>

    <div class="about_data_row">
      <p class="about_data_row_title">Universo</p>
      <p class="about_data_row_text">
        Mujeres y hombres
        <br />
        35 y 60 años
        <br />
        +35.000€
        <br />
        Al menos un producto financiero
      </p>
    </div>
    <div class="about_data_row">
      <p class="about_data_row_title">Ámbito geográfico</p>
      <p class="about_data_row_text">
        Ámbito nacional excepto Ceuta y Melilla
      </p>
    </div>
    <div class="about_data_row">
      <p class="about_data_row_title">Metodología</p>
      <p class="about_data_row_text">
        Encuestas CAWI Multidispositivo
      </p>
    </div>
    <div class="about_data_row">
      <p class="about_data_row_title">Muestra</p>
      <p class="about_data_row_text">
        1.020 entrevistas distribuidas:
        <br />
        Caída natural dentro del universo.
        <br />
        Obteniendo de forma natural una base de N=159 para Barcelona (provincia) y N=208 para Madrid (provincia).
        <br />
        El error de resultados totales por ola, con la máxima indeterminación (p=q=50%) y un intervalo de confianza del 95%, es del +/- 3,1% para la muestra representativa de 1.020 entrevistas, de +/- 7,8% para la muestra de Barcelona y de +/- 6,8% para la muestra de Madrid.
      </p>
    </div>
    <div class="about_data_row">
      <p class="about_data_row_title">Cuotas</p>
      <p class="about_data_row_text">
        El estudio no ha contado con cuotas.
      </p>
    </div>
    <div class="about_data_row">
      <p class="about_data_row_title">Cuestionario</p>
      <p class="about_data_row_text">
        25 minutos de duración.
      </p>
    </div>
    <div class="about_data_row">
      <p class="about_data_row_title">Fechas de campo</p>
      <p class="about_data_row_text">
        El trabajo de campo se realizó entre el 25 de junio y el 2 de julio
      </p>
    </div>
  </div>
</div>
