<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
  page_name ||= ""
%>

<div class="download <%= extra_classes %>" style="background-image: url('/assets/images/content/bg-download_1.jpg');">
  <div class="download_content">
    <p class="download_content_title">¿Quieres saber más?</p>
    <p class="download_content_subtitle">Descarga el informe completo</p>
    <div class="download_content_form">
      <input type="text" name="email" id="email" class="download_content_form_input" placeholder="Introduce tu email" />
      <input type="submit" name="download" value="descargar" class="btn" 
        onclick="DigitalData.push({'event':'event' ,'eventCategory':'descarga pdf','eventAction':'observatorio-del-ahorro-y-la-inversion.pdf','eventLabel':'<%= page_name %>'});" />
    </div>
    <div class="legal">
      <input type="checkbox" name="check-legal" id="check-legal" />
      <label for="check-legal">He leído y acepto el consentimiento al tratamiento de mis datos personales con las finalidades que se detallan en el siguiente enlace, para poder recibir información de todos los productos y servicios de las sociedades del grupo BESTINVER (BESTINVER GESTIÓN S.A. S.G.I.I.C; BESTINVER PENSIONES E.G.F.P. S.A.; BESTINVER INDIVIDUAL EPSV).</label>
    </div>
  </div>
</div>