<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
  page_name ||= ""
%>

<div class="download <%= extra_classes %>" style="background-image: url('assets/images/content/bg-download_1.jpg');">
  <div class="download_content">
    <p class="download_content_title">¿Quieres saber más?</p>
    <p class="download_content_subtitle">Descarga el informe completo</p>
    <div class="download_content_form">
        <input type="text" name="email" id="email" class="download_content_form_input" placeholder="Introduce tu email" />
      <!-- <input type="submit" name="download" value="descargar" class="btn" id="iosBtn"
        onclick="DigitalData.push({'event':'event' ,'eventCategory':'descarga pdf','eventAction':'observatorio-del-ahorro-y-la-inversion.pdf','eventLabel':'<%= page_name %>'});" />
      --> <!-- <a href="https://www.bestinver.es/wp-content/uploads/observatorio_ahorro_inversion_2018.pdf" target="_blank"></a> -->
        <span class="loading" style="display: none;"><span class="loader"></span></span>
        <p class="error" style="display: none" data-mail-error="Por favor, introduzca un email válido" data-ajax-error="No se ha podido guardar su email" data-legal-error="Debe aceptar las condiciones"></p>
    </div>
    <div class="legal">
      <input type="checkbox" name="check-legal" id="check-legal" />
      <label for="check-legal">Los datos personales recabados mediante este formulario serán tratados con la finalidad de informarle sobre nuestros productos y servicios. Responsables del tratamiento: BESTINVER GESTIÓN S.A. SGIIC, BESTINVER PENSIONES EGFP S.A. y BESTINVER INDIVIDUAL EPSV. Legitimación: consentimiento del destinatario. Destinatarios de cesiones: No se cederán datos a terceros, salvo obligación legal; se utilizan servicios en línea de Microsoft Corp. y de ADOBE, constituyendo su uso transferencias internacionales de datos autorizadas por la AEPD. Derechos: acceder, rectificar y suprimir los datos. Información adicional en nuestra <a href="https://www.bestinver.es/politica-de-privacidad/" target="_blank">política de privacidad.</a><br /> Acepto</label>
    </div>
  </div>
</div>