<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>

<!-- <div class="download" style="background-image: url('assets/images/content/bg-download.jpg');"> -->
<div class="download <%= extra_classes %>" style="background-image: url('/assets/images/content/bg-download_1.jpg');">
  <div class="download_content">
    <p class="download_content_title">¿Quieres saber más?</p>
    <p class="download_content_subtitle">Descarga el informe completo</p>
    <div class="download_content_form">
      <input type="text" name="email" id="email" class="download_content_form_input" placeholder="Introduce tu email" />
      <input type="submit" name="download" value="descarga" class="btn" />
    </div>
    <p class="legal">By adding your e-mail you opt-in for Bestinver news and feature updates. Don’t worry, we don’t spam and always keep your information safe and compliant with GDPR.</p>
  </div>
</div>