<%
  extra_classes ||= ""
  title ||= ""
  image ||= ""
  extra_content ||= ""
%>

<div class="hero_section" style="background-image: url(../assets/images/content/<%= image %>);">
  <div class="hero_section_content">
    <h1 class="page_title"><%= title %></h1>
    <a href="index.html" class="link_back"><span class="icon-arrow-left"></span>Inicio</a>
  </div>
  <% if extra_content == "2" %>
    <div class="hero_section_extra_content">
      <div class="svg_anim rosco1A" id="rosco1A"></div>
    </div>
  <% end %>
  <% if extra_content == "4" %>
    <div class="hero_section_extra_content">
      <div class="svg_anim rosco1B" id="rosco1B"></div>
    </div>
  <% end %>
</div>
<% if extra_content == "1" %>
  <div class="cnt-intro">
    <div class="intro_section fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
      <div class="svg_anim" id="num87"></div>
    </div>
    <div class="section_block sec_1_grey grey-expanded fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--middle-in">
      <p class="section_block_text">Los inversores españoles <strong>centran su patrimonio</strong> principalmente entre <strong>bienes inmuebles</strong>, destacando la vivienda en propiedad, <strong>y en productos financieros</strong>.</p>
      <p class="section_block_text">Según la OCDE, el 78% de los hogares españoles son <strong>viviendas en propiedad</strong>.</p>
    </div>
  </div>

<% end %>

<% if extra_content == "3" %>
  <div class="cnt-intro intro_3 fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
    <div class="intro_section intro_3">
      <div class="svg_anim" id="num78"></div>
    </div>
  </div>

<% end %>

<% if extra_content == "4" %>
  <div class="intro_4 fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--top-in">
    <div class="intro_4_content">
      <p>El inversor sigue teniendo la percepción de que la <strong>rentabilidad y la seguridad están reñidas</strong>. Aunque se considera una persona formada, que afirma conocer los productos que contrata y que no requiere asesoramiento, la realidad es que <strong>no está muy familiarizado con los distintos productos financieros</strong>.</p>
    </div>
  </div>

<% end %>
