<%
  extra_classes ||= ""
  title ||= ""
  image ||= ""
  extra_content ||= ""
%>

<div class="hero_section" style="background-image: url(../assets/images/content/<%= image %>);">
  <div class="hero_section_content">
    <h1 class="page_title"><%= title %></h1>
    <a href="" class="link_back"><span class="icon-arrow-left"></span>Inicio</a>
  </div>
  <% if extra_content == "2" %>
    <div class="hero_section_extra_content">
      <%= image_tag("content/chart_1.png", :class => 'chart') %>
    </div>
  <% end %>
  <% if extra_content == "4" %>
    <div class="hero_section_extra_content">
      <%= image_tag("content/chart-known.png", :class => 'chart') %>
    </div>
  <% end %>
</div>
<% if extra_content == "1" %>
  <div class="cnt-intro fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
    <div class="intro_section">
      <div>
        <span class="percent"><span class="num">86</span><span class="sim">%</span></span>
        <span class="text"><strong>8 de cada 10</strong> españoles invierte en <strong>bienes inmuebles</strong>. El 46% lo combina además con productos financieros.</span>
      </div>
    </div>
  </div>

<% end %>

<% if extra_content == "3" %>
  <div class="intro_3 fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--top-in">
    <div class="intro_3_content">
      <div class="intro_3_content_percent">
        <span class="percent"><span class="num">62</span><span class="sim">%</span></span>
      </div>
      <div class="intro_3_content_text">
        <p>El 62% de los inversores declara <strong>conocer el importe de pensión pública</strong> que obtendrá. De estos, 3 de cada 4 considera que será insuficiente.</p>
      </div>
    </div>
  </div>

<% end %>

<% if extra_content == "4" %>
  <div class="intro_4 fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--top-in">
    <div class="intro_4_content">
      <p>El inversor sigue teniendo la percepción de que la rentabilidad y la seguridad están reñidas. Aunque se considera una persona formada, que afirma conocer los productos que contrata y que no requiere asesoramiento, la realidad es que no está muy familiarizado con los distintos productos financieros.</p>
    </div>
  </div>

<% end %>
