<%
  extra_classes ||= ""
  title ||= ""
  image ||= ""
%>

<div class="hero_page" style="background-image: url(../assets/images/content/<%= image %>);">
  <div class="hero_page_content">
    <h1 class="page_title"><%= title %></h1>
    <a href="" class="link_back"><span class="icon-arrow-left"></span>Inicio</a>
  </div>
</div>
