<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>

<!-- <div class="hero_home" style="background-image: url('./assets/images/content/cabecera_video.jpg');"> -->
<div class="hero_home">
  <%= image_tag("./assets/images/content/hero_home.svg", :class => 'hero_home_bg', :style => 'display: none;') %>
  <div class="hero_home_video">
    <video autoplay="true" loop="true" muted="true">
      <source src="./assets/images/content/hero_home.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="hero_home_content">
    <h1 class="page_title" style="display: none;">La inversión en España: estancada en el sector inmobiliario y los depósitos bancarios</h1>
  </div>
</div>



