<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>

<div class="hero_home" style="background-image: url('assets/images/content/cabecera_video.jpg');">
  <div class="hero_home_content">
    <h1 class="page_title">La inversión en España: estancada en el ladrillo y los depósitos bancarios</h1>
  </div>
</div>



