<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>

<div class="home_index">
  <div class="home_index_content">
    <div class="home_index_index">
      <p class="home_index_title">Contenidos</p>
      <ul class="home_index_list fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--top-in">
        <li>
          Productos de inversión, nada nuevo en el horizonte
        </li>
        <li>
          Más digitales, mismas decisiones
        </li>
        <li>
          Más digitales, mismas decisiones </li>
        <li>
          contratación a sabiendas, sin saber
        </li>
      </ul>
    </div>
    <div class="home_index_intro fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
      <p class="home_index_intro_title">Observatorio Bestinver - IESE</p>
      <div class="home_index_intro_text">
        <p>
          Gestionamos nuestro dinero como hace décadas, sin pararnos a pensar dos veces en las opciones que tenemos a nuestra disposición o en <strong>buscar alternativas</strong>. Aunque el ladrillo sigue siendo el lugar preferido de los españoles para acumular riqueza, empiezan a tomar protagonismo nuevos modelos de inversión.          </p>
        <p>
          El principal canal de contratación continúa siendo el banco y los depósitos de bajo rendimiento persisten como productos 'estrella'. Una foto casi idéntica a la de hace 30 años.        </p>
        <p>
          Tras un estudio realizado por <strong>KANTAR TNS</strong> entre más de 1.000 españoles, mayores de 35 años con, al menos, un producto de inversión, <strong>Bestinver y el IESE</strong> presentan la primera edición del <strong>Observatorio del Ahorro y la Inversión.</strong>        
        </p>
      </div>
    </div>
  </div>
</div>



