<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>

<div class="home_index">
  <div class="home_index_content">
    <div class="home_index_index">
      <p class="home_index_title">Contenidos</p>
      <ul class="home_index_list fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--top-in">
        <li>
          1. Productos de inversión, nada nuevo en el horizonte
        </li>
        <li>
          2. Más digitales, mismas decisiones
        </li>
        <li>
          3. Ahorro insuficiente, inversión deficiente
        </li>
        <li>
          4. Ahorro e inversión con salvavidas
        </li>
      </ul>
    </div>
    <div class="home_index_intro fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
      <p class="home_index_intro_title">Observatorio Bestinver - IESE</p>
      <div class="home_index_intro_text">
        <p>
          Gestionamos nuestro dinero como hace décadas, sin pararnos a pensar dos veces en lo que nos ofrecen o en <strong>buscar alternativas</strong>. El ladrillo sigue siendo el lugar preferido para acumular riqueza. 
        </p>
        <p>
          Más allá de los inmuebles, los <strong>bancos continúan siendo el principal canal de contratación</strong>, y los <strong>depósitos de bajo rendimiento</strong> persisten como productos 'estrella'. Una foto casi idéntica a la que había hace 30 años.
        </p>
        <p>
          Tras un estudio entre más de 1.000 personas, mayores de 35 años con, al menos, un producto de inversión, <strong>Bestinver y el IESE</strong> presentan la primera edición del <strong>observatorio sobre el inversor español</strong>.
        </p>
      </div>
    </div>
  </div>
</div>



