<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>

<div class="home_index">
  <div class="home_index_content">
    <div class="home_index_index">
      <p class="home_index_title">Contenidos</p>
      <ul class="home_index_list fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--top-in">
        <li>
          <a href="#index1" data-scroll="#index1">Productos de inversión, nada nuevo en el horizonte</a>
        </li>
        <li>
          <a href="#index2" data-scroll="#index2"> Más digitales, mismos bancos, mismas inversiones</a>
        </li>
        <li>
          <a href="#index3" data-scroll="#index3">Ahorro insuficiente, inversión deficiente</a>
        </li>
        <li>
          <a href="#index4" data-scroll="#index4">Contratación a sabiendas, sin saber</a>
        </li>
      </ul>
    </div>
    <div class="home_index_intro fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
      <p class="home_index_intro_title">Observatorio Bestinver - IESE</p>
      <div class="home_index_intro_text">
        <p>
          Gestionamos nuestro dinero como hace décadas, sin pararnos a pensar dos veces en las opciones que tenemos a nuestra disposición o en <strong>buscar alternativas</strong>. Aunque el ladrillo sigue siendo el lugar preferido de los españoles para acumular riqueza, empiezan a tomar protagonismo nuevos modelos de inversión.
        </p>
        <p>
          El principal canal de contratación continúa siendo el banco y los <strong>depósitos de bajo rendimiento</strong> persisten como productos 'estrella'. Una foto casi idéntica a la de hace 30 años.
        </p>
        <p>
          Tras un estudio realizado por <strong>KANTAR TNS</strong> entre más de 1.000 españoles, mayores de 35 años con, al menos, un producto de inversión, <strong>BESTINVER y el IESE</strong> presentan la primera edición del <strong>Observatorio del Ahorro y la Inversión</strong>.
        </p>
      </div>
    </div>
  </div>
</div>



