<%
  extra_classes ||= ""
%>

<div class="intro_about">
  <div class="intro_about_content">
    <div class="intro_about_content_images">
      <%= image_tag("content/logo-bestinver.png", :class => 'logo-about') %>
      <%= image_tag("content/logo-iese-dark.png", :class => 'logo-about') %>
    </div>
    <div class="intro_about_content_text">

      <p>Ahorrar e invertir mejor es sin duda un objetivo para la sociedad española en su conjunto. Solo así podremos responder a los retos económicos que se nos plantean. En BESTINVER creemos que no hay mejor forma de emprender este camino que a través de la formación. Dentro de las distintas iniciativas que llevamos a cabo, hemos buscado a una institución académica de prestigio internacional como el IESE para desarrollar esta misión.</p>

      <p>Y esta alianza comienza a dar sus frutos. El primero de ellos, es el <strong>Observatorio BESTINVER-IESE sobre el ahorro y la inversión</strong>. Con este estudio, elaborado con la colaboración de KANTAR TNS, BESTINVER y el IESE buscamos recoger las <strong>tendencias sobre el ahorro y la inversión en España</strong> y conocer a fondo el comportamiento actual y las tendencias de los inversores españoles.</p>

      <p>Esta primera edición del Observatorio nace con el objetivo de convertirse en una referencia en el sector. El estudio ha sido realizado a más de 1.000 personas, mayores de 35 años que poseen, al menos, un producto de inversión.</p>

    </div>
  </div>
</div>
