<%
  extra_classes ||= ""
%>

<div class="intro_about">
  <div class="intro_about_content">
    <div class="intro_about_content_images">
      <%= image_tag("content/logo-bestinver.png", :class => 'logo-about') %>
      <%= image_tag("content/logo-iese.png", :class => 'logo-about') %>
    </div>
    <div class="intro_about_content_text">

      <p><strong>Bestinver</strong>, gestora independiente líder en fondos de inversión en España, junto con el <strong>IESE</strong>, la escuela de dirección de empresas de la Universidad de Navarra, han creado el <strong>Observatorio Bestinver-IESE</strong>.</p>

      <p>El <strong>objetivo principal del estudio</strong> es obtener información sobre el ahorro y la inversión en España y conocer el comportamiento actual y futuro de los inversores españoles.</p>

      <p>Esta primera edición del Observatorio Bestinver-IESE, que tiene como propósito <strong>ser referencia en el sector</strong>, ha sido realizado a más de 1.000 personas, mayores de 35 años que poseen, al menos, un producto de inversión.</p>

    </div>
  </div>
</div>
