<%
  extra_classes ||= ""
  prev_title ||= ""
  prev_url ||= ""
  next_title ||= ""
  next_url ||= ""
%>

<div class="sections_nav">
  <% if prev_title != "" %>
    <a href="<%= prev_url %>" class="sections_nav_link prev  <% if prev_title == "" %> hide-on-mobile <% end %>">
      <span class="sections_nav_link_wrap">
        <span class="sections_nav_link_title">sección anterior</span>
        <span class="sections_nav_link_section"><%= prev_title %></span>
      </span>
    </a>
  <% else %>
    <span class="sections_nav_link prev disabled  <% if prev_title == "" %> hide-on-mobile <% end %>">
    </span>
  <% end %>
  <% if next_title != "" %>
    <a href="<%= next_url %>" class="sections_nav_link next">
      <span class="sections_nav_link_wrap">
        <span class="sections_nav_link_title">siguiente sección</span>
        <span class="sections_nav_link_section"><%= next_title %></span>
      </span>
    </a>
  <% else %>
    <span class="sections_nav_link next disabled">
    </span>
  <% end %>
</div>