.footer {
  background-color: $darkgrey;
  position: relative;
  z-index: 3;
  padding: 60px 120px 40px;
  @include media("<phablet") {
    padding: 60px 42px 40px 22px;
  }
  /*
  .row_logos {
    padding: 50px 40px 50px 40px;
    @include media("<phablet") {
      padding: 40px 15px 10px 15px;
    }
    .logo_bestinver,
    .logo_iese {
      display: inline-block;
      height: 50px;
      margin-right: 40px;
      @include media("<phablet") {
        display: block;
        margin: 0 auto 15px auto;
      }
    }
    img {
      width: auto;
      height: 100%;
      @include media("<phablet") {
        margin: 0 auto;
      }
    }
  }*/
  .mail{
    display: none;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 28px;
    color: $white;
    @include media("<phablet") {
      display: block;
      width: 100%;
    }
    span{
      margin-right: 12px;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 50px 40px;
    overflow: hidden;
    @include media("<phablet") {
      display: block;
      padding: 10px 15px 40px 15px;
    }
    .footer_text {
      font-size: 13px;
      line-height: 24px;
      color: $white;
      @include media("<phablet") {
        padding-bottom: 10px;
      }
    }
    .link_list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include media("<phablet") {
        flex-wrap: wrap;
        justify-content: center;
      }
      li {
        a {
          display: inline-block;
          height: 24px;
          padding: 0 15px;
          font-size: 16px;
          line-height: 24px;
          color: $white;
          text-decoration: none;
          vertical-align: middle;
          @include media("<phablet") {
            padding: 0 10px;
          }
          .icon-mail {
            margin-right: 10px;
            font-size: 16px;
            line-height: 24px;
            position: relative;
            top: 2px;
          }
          .icon-linkedin:before {
            font-size: 18px;
            line-height: 24px;
          }
          .icon-youtube {
            font-size: 42px;
            line-height: 24px;
            position: relative;
            top: 3px;
          }
          .icon-twitter {
            font-size: 22px;
            line-height: 24px;
            position: relative;
            top: 2px;
          }
          .icon-facebook {
            font-size: 18px;
            line-height: 24px;
          }
          .icon-inslides {
            font-size: 69px;
            line-height: 24px;
            position: relative;
            top: 2px;
          }
        }
        &:first-child {
          @include media("<phablet") {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            a {
              padding: 0;
            }
          }
        }
      }
    }
  }
  &-row{
    display: flex;
    @include media("<phablet") {
      flex-wrap: wrap;
    }

  }
  &__logos{
    width: 60%;
    margin-bottom: 56px;
    @include media("<phablet") {
      width: 100%;
      margin-bottom: 35px;
    }
    img{
      max-width: 156px;
      @include media("<phablet") {
        max-width: 138px;
      }
    }
  }
  &__rrss {
    width: 40%; 
    text-align: right;
    @include media("<phablet") {
      width: 100%;
      margin-bottom: 40px;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include media("<phablet") {
        justify-content: space-between;
      }
      li {
        display: inline-block;
        & + li {
          margin-left: 15px; 
        }
      }
    }
    span{
      font-size: 18px;
      color: #fff;
    }
    
  }
  &__links {
    width: 60%;
    @include media("<phablet") {
      width: 100%;
      margin-bottom: 40px;
    }
    ul {
      margin: 0 -15px;
    }
    li{
      display: inline-block;
      padding: 0 15px;
      margin-bottom: 5px;
      border-right: 1px solid $white;
      font-size: 12px;
      line-height: 13px; 

      &:last-child{
        border: none;
      }
    }
    a{
     font-size: 12px;
     line-height: 13px;
     text-transform: uppercase;
     color: $white;
     text-decoration: none;
    }
  }
  &__info {
    width: 40%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: $white;
    font-size: 13px;
    line-height: 18px;

    @include media("<phablet") {
      width: 100%;
      justify-content: flex-start;
    }
    img{
      width: 45px;
      display: block;
      margin-left: 20px;
      background-color: #414141;   
      @include media("<phablet") {
        display: none;
      } 
    }
    .num-reg{
      @include media("<phablet") {
        display: none;
      }
    }
  }
}