.header {
  max-width: 1600px;
  margin: 0 auto;
  height: 116px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: all 0.5s;
  @include media("<1024px") {
    padding-left: 60px;
  }
  @include media("<phablet") {
    padding-left: 40px;
    height: 50px;
  }
  @include media("<680px") {
    padding-left: 20px;
  }
  .logos {
    .logo_bestinver {
      height: 50px;
      margin-right: 35px;
      transition: all 0.5s;
      @include media("<930px") {
        height: 46px;
      }
      @include media("<phablet") {
        height: 29px;
      }
      &.white {
        display: none;
      }
      &.transparent {
        display: inline-block;
      }
      img {
        width: auto;
        height: 100%;
      }
    }
    .logo_iese {
      height: 50px;
      transition: all 0.5s;
      @include media("<930px") {
        height: 46px;
      }
      @include media("<phablet") {
        height: 29px;
      }
      &.white {
        display: none;
      }
      &.transparent {
        display: inline-block;
      }
      img {
        width: auto;
        height: 100%;
      }
    }
  }
  .header_left {
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header_menu {
    display: flex;
    padding-left: 30px;
    @include media("<1024px") {
      display: none;
    }
    li {
      padding: 0 15px;
      a {
        display: block;
        padding: 0 5px;
        font-size: 11px;
        line-height: 17px;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        transition: all 0.5s;
        @include media("<desktop") {
          padding: 0 10px;
        }
        &:hover {
          color: $primary-text;
        }
      }
    }
  }
  .btn_header {
    display: block;
    width: 224px;
    height: 116px;
    line-height: 116px;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 700;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    background-color: $primary;
    border: 1px solid $primary;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;
    .btn_val {
      position: relative;
      z-index: 2;
    }
    @include media("<desktop") {
      width: 200px;
    }
    @include media("<1024px") {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      transition: all 0.3s cubic-bezier(0.43, 0.39, 0.23, 1.01);
      background-color: $white;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      transition: all 0.3s cubic-bezier(0.43, 0.39, 0.23, 1.01);
      background-color: $primary-text;
    }
    &:hover {
      color: $primary-text;
      &:after {
        transform: scale(0);
      }
    }
  }
  .btn_menu_mobile {
    display: none;
    transition: all 0.5s;
    @include media("<1024px") {
      background-color: transparent;
      border: none;
      display: block;
      padding: 0 16px;
      height: 26px;
      .hamburguer-menu {
        display: block;
        background-color: $white;
        width: 15px;
        height: 2px;
        position: relative;
        transition: background 0.5s;
        &:after {
          content: '';
          display: block;
          background-color: $white;
          width: 26px;
          height: 2px;
          position: absolute;
          top: -9px;
          right: 0;
          transition: all 0.5s;
        }
        &:before {
          content: '';
          display: block;
          background-color: $white;
          width: 26px;
          height: 2px;
          position: absolute;
          bottom: -9px;
          right: 0;
          transition: all 0.5s;
        }
      }
    }
    &.open {
      @include media("<1024px") {
        position: fixed;
        top: 12px;
        right: 0;
        z-index: 9;
        .hamburguer-menu {
          background-color: transparent;
          width: 0;
          &:before {
            background-color: $primary;
            transform: rotate(-45deg);
            bottom: 0;
          }
          &:after {
            background-color: $primary;
            transform: rotate(45deg);
            top: 0;
          }
        }
      }
    }
  }
  &.bg-white {
    background-color: $white;
    box-shadow: $box-shadow;
    .logos {
      .logo_bestinver {
        &.white {
          display: inline-block;
        }
        &.transparent {
          display: none;
        }
      }
      .logo_iese {
        &.white {
          display: inline-block;
        }
        &.transparent {
          display: none;
        }
      }
    }
    .header_menu {
      li {
        a {
          color: $black;
          &:hover {
            color: $primary-text;
          }
        }
      }
    }
    .btn_menu_mobile {
      @include media("<1024px") {
        .hamburguer-menu {
          background-color: $primary;
          &:after,
          &:before {
            background-color: $primary;
          }
        }
      }
    }
  }
  &.bg-transparent {
    position: fixed;
  }
  &.header-home {
    height: 0;
    overflow: hidden;
  }
  &_sticky {
    background-color: $white;
    box-shadow: $box-shadow;
    .logos {
      .logo_bestinver {
        &.white {
          display: inline-block;
        }
        &.transparent {
          display: none;
        }
      }
      .logo_iese {
        &.white {
          display: inline-block;
        }
        &.transparent {
          display: none;
        }
      }
    }
    .header_menu {
      li {
        a {
          color: $black;
          &:hover {
            color: $primary-text;
          }
        }
      }
    }
    .btn_menu_mobile {
      @include media("<1024px") {
        .hamburguer-menu {
          background-color: $primary;
          &:after,
          &:before {
            background-color: $primary;
          }
        }
      }
    }
  }
  .mobile_menu {
    display: none;
    justify-content: stretch;
    align-items: stretch;
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    height: 100vh;
    background-color: $white;
    overflow-y: scroll;
    z-index: 1;
    transition: width 0.5s;
    @include media("<1024px") {
      display: flex;
    }
    &_content {
      background-color: $white;
      padding: 15px;
      transition: width .5s;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      display: none;
    }
    &_logos {
      height: 29px;
      .logo_bestinver,
      .logo_iese {
        display: inline-block;
        margin-right: 15px;
        img {
          width: auto;
          height: 29px;
        }
      }
    }
    &_menus {
      height: calc(100vh - 29px - 30px - 40px);
      padding: 50px 0 0 0;
      overflow-y: scroll;
      .menu-list-gold {
        li {
          margin-bottom: 25px;
          a {
            display: block;
            padding-left: 5px;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.71px;
            font-weight: 800;
            color: $primary-text;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
      .menu-list-dark {
        li {
          margin-bottom: 15px;
          a {
            display: block;
            padding-left: 5px;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 2px;
            font-weight: 700;
            color: $black;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
      .btn_header {
        display: block;
        min-width: 0;
        width: 78%;
        height: 40px;
        line-height: 40px;
        position: fixed;
        bottom: 0;
        left: 22%;
        right: 0;
        .icon-arrow-right {
          margin-left: 20px;
          position: relative;
          top: 1px;
        }
      }
    }
    &_overlay {
      display: none;
      position: absolute;
      top: 0;
      height: 0;
      right: 0;
      background: $black;
      
      width: 100vw;
      opacity: 0;
      transition: opacity 0.5s;
      @include media("<1024px") {
        display: block;
      }
      &.open {
        left: 0;
        opacity: 0.85;
        bottom: 0;
        height: 100vh;
      }
    }
    &.open {
      width: 78%;
    }
  }
}