.btn {
  display: inline-block;
  width: auto;
  width: 224px;
  padding: 13px;
  font-weight: 800;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: center;
  color: $white;
  background-color: $primary;
  border-radius: 0;
  border: 1px solid $primary;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  .btn_val {
    position: relative;
    z-index: 2;
  }
  &--block {
    display: block;
    width: 100%;
  }

  &--primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
      
    }
    &:active {
      
    }
    &[disabled] {
      
    }
  }

  &--secondary {
    background-color: $white;
    border: 1px solid $primary-text;
    color: $primary-text;
    width: 141px;
    &:before {
      
    }
    &:hover {
      
    }
    &:active {
      
    }
    &[disabled] {
      
    }
  }

  &:not(input) {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      transition: all 0.3s cubic-bezier(0.43, 0.39, 0.23, 1.01);
      background-color: $white;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      transition: all 0.3s cubic-bezier(0.43, 0.39, 0.23, 1.01);
      background-color: $primary-text;
    }
    &:hover {
      color: $primary-text;
      &:after {
        transform: scale(0);
      }
    }
  }
}

@include media("<desktop", ">=tablet"){
  .btn {

  }
}


@include media("<tablet"){
  .btn {

  }
}
