.download {
  width: 100%;
  padding: 70px 0;
  background-color: $bg-grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  &_content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    &_title {
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      color: $primary-text;
      text-transform: uppercase;
      margin-bottom: 25px;
      @include media("<phablet") {
        font-size: 13px;
        line-height: 36px;
        margin-bottom: 0;
      }
    }
    &_subtitle {
      font-size: 32px;
      line-height: 48px;
      color: $blackish;
      font-weight: 500;
      margin-bottom: 34px;
      @include media("<phablet") {
        font-size: 23px;
        line-height: 28px;
        margin-bottom: 40px;
      }
    }
    &_form {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      @include media("<phablet") {
       display: block;
       padding: 0 16px;
      }
      &_input {
        width: 460px;
        height: 64px;
        border: 1px solid $lightgrey;
        background-color: $white;
        box-shadow: none;
        padding: 17px 20px;
        line-height: 30px;
        font-weight: 100;
        font-size: 17px;
        color: $blackish;
        &::placeholder {
          color: $placeholder;
        }
        @include media("<phablet") {
          width: 100%;
          margin-bottom: 20px;
         }
      }
      .btn {
        width: 224px;
        @include media("<phablet") {
          width: 100%;
          margin-bottom: 20px;
         }
      }
    }
    .legal {
      margin: 0 auto;
      position: relative;
      padding-left: 22px;
      input {
        position: absolute;
        left: 0;
        top: 0;
        @include media("<phablet") {
          left: 16px;
        }
      }
      label {
        display: block;
        font-size: 11px;
        line-height: 13px;
        color: $blackish;
        text-align: left;
        a {
          color: $primary-text;
        }
      }
      @include media("<phablet") {
        padding: 0 16px 0 38px;
       }
    }
    .error {
      position: absolute;
      bottom: -40px;
      left: 0;
      right: 0;
      color: $red;
      font-size: 18px;
    }
  }
  &.bg-white {
    background-color: $white;
  }
}