.know_block {
  background-color: $white;
  padding: 90px 0;
  @include media("<phablet") {
    padding: 50px 0;
  }
  &_content {
    width: 100%;
    padding-left: 115px;
    padding-right: 115px;
    margin: 0 auto;
    text-align: center;
    @include media("<phablet") {
      padding: 0 15px;
    }
    &_title {
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      color: $primary-text;
      text-transform: uppercase;
      margin-bottom: 20px;
      @include media("<phablet") {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 30px;
        text-align: center;
      }
    }
    &_text {
      margin-bottom: 30px;
      p {
        font-size: 32px;
        line-height: 48px;
        color: $blackish;
        font-weight: 500;
        @include media("<phablet") {
          font-size: 23px;
          line-height: 28px;
        }
        strong {
          font-weight: 900;
        }
      }
      @include media("<phablet") {
          margin-bottom: 0px;
      }
    }
    .btn {
      margin: 0 auto;
      position: relative;
      @include media("<phablet") {
        margin: 20px auto 0;
        display: block;
      }
      .share_wrap {
        display: flex;
        opacity: 0;
        background-color: $white;
        box-shadow: $box-shadow;
        padding: 27px 40px;
        position: absolute;
        top: -9px;
        left: 151px;
        transition: opacity .5s;
        z-index: -1;
        pointer-events: none;
        &.show {
          opacity: 1;
          z-index: unset;
          pointer-events: all;
        }
        .sz {
          display: inline-block;
          margin: 0 10px;
          &:before {
            font-size: 30px;
            color: $blackish;
          }
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 0;
          height: 0;
          border-right: 11px solid $white;
          border-top: 11px solid transparent;
          border-bottom: 11px solid transparent;
        }
      }
      &:hover {
        background-color: $primary-text;
        border-color: $primary-text;
        color: $white;
      }
    }
  }
  &.sect1 {
    background-color: transparent;
    .know_block_content {
      padding-left: 100px;
      padding-right: 100px;
      @include media("<desktop") {
        padding-left: 50px;
        padding-right: 50px;
      }
      @include media("<phablet") {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &.know_block--transparent {
    background-color: transparent;
  }

  &.know_block--grey {
    background-color: $bg-grey;
    .know_block_content {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &--with-img {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    @include media("<phablet") {
      flex-wrap: wrap;
      padding: 0px;
    }
    .know_block_image {
      width: 35%;
      @include media("<phablet") {
        width: 100%;
      }
    }
    .know_block_content {
      background-color: $white;
      width: 55%;
      min-width: auto;
      min-height: auto;
      padding: 90px 136px 90px 115px;
      border: 1px solid $primary-text;
      margin: 0;
      margin-top: 100px;  
      text-align: left;
      @include media("<tablet") {
        padding: 50px;
      }
      @include media("<phablet") {
        margin: 0;
        padding: 50px 15px;
        width: 100%;
        min-width: auto;
        min-height: initial;
        .know_block_content_text {
          text-align: center;
        }
      }
    }
    .know_block_content_text{
      margin-bottom: 0;
    }
    .know_block_content_text + button {
      margin-top: 80px;
      @include media("<phablet") {
        margin-top: 30px;
      }
    }
    &.sect4 {
      align-items: flex-end;
      padding-bottom: 190px;
      @include media("<tablet") {
        padding-bottom: 90px;
      }
      .know_block_content {
        margin-top: 0;
        margin-bottom: -100px;
        position: relative;
        z-index: 1;
        @include media("<tablet") {
          margin-bottom: 0;
        }
      }
      .know_block_image {
        margin-right: -75px;
        position: relative;
        z-index: 2;
        @include media("<tablet") {
          margin-right: 0;
        }
      }
    }
  }
}