.sections_nav {
  background-color: $white;
  display: flex;
  position: relative;
  border-top: 1px solid $border-grey;
  @include media("<phablet") {
    display: block;
  }
  &_link {
    width: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s;
    @include media("<phablet") {
      width: 100%;
      position: relative;
    }
    &_wrap {
      max-width: 235px;
    }
    &_title {
      display: block;
      font-weight: 700;
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 1px;
      color: $primary;
      text-transform: uppercase;
      margin-bottom: 5px;
      transition: all 0.5s;
    }
    &_section {
      display: block;
      font-weight: 200px;
      font-size: 18px;
      line-height: 36px;
      color: $blackish;
      transition: all 0.5s;
    }
    &.prev {
      @include media("<phablet") {
        padding: 20px 20px 20px 65px;
        border-bottom: 1px solid $border-grey;
      }
      .sections_nav_link_wrap {
        text-align: right;
        @extend .icon-chevron-left;
        &:before {
          position: absolute;
          left: 115px;
          top: 0;
          color: $primary;
          bottom: 0;
          height: 18px;
          font-size: 18px;
          margin: auto;
          transition: all 0.5s;
          @include media("<desktop") {
            left: 50px;
          }
          @include media("<phablet") {
            left: 20px;
          }
        }
      }
    }
    &.next {
      @include media("<phablet") {
        padding: 20px 65px 20px 20px;
      }
      .sections_nav_link_wrap {
        text-align: left;
        @extend .icon-chevron-right;
        &:before {
          position: absolute;
          right: 115px;
          top: 0;
          bottom: 0;
          color: $primary;
          height: 18px;
          font-size: 18px;
          margin: auto;
          transition: all 0.5s;
          @include media("<desktop") {
            right: 50px;
          }
          @include media("<phablet") {
            right: 20px;
          }
        }
      }
    }
    &:hover {
      background-color: $primary-text;
      .sections_nav_link_title,
      .sections_nav_link_section {
        color: $white;
      }
      .sections_nav_link_wrap::before {
        color: $white;
      }
    }
    &.disabled {
      pointer-events: none;
    }
  }
  &:before {
    content: '';
    display: block;
    background-color: $border-grey;
    width: 1px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    @include media("<phablet") {
      content: none;
    }
  }
}