<%
  extra_classes ||= ''
%>
<footer class="footer <%= extra_classes %>">
  <div class="content__wrapper">
    <div class="row_logos">
      <a href="" class="logo_bestinver"><%= image_tag("content/logo-bestinver-white.png", :class => '') %></a>
      <a href="" class="logo_iese"><%= image_tag("content/logo-iese-white.png", :class => '') %></a>
    </div>
    <div class="footer_bottom">
      <p class="footer_text">© Bestinver 2018</p>
      <ul class="link_list">
        <li>
          <a href=""><span class="icon-mail"></span>bestinver@bestinver.es</a>
        </li>
        <li>
          <a href=""><span class="icon-linkedin"></span></a>
        </li>
        <li>
          <a href=""><span class="icon-youtube"></span></a>
        </li>
        <li>
          <a href=""><span class="icon-twitter"></span></a>
        </li>
        <li>
          <a href=""><span class="icon-facebook"></span></a>
        </li>
        <li>
          <a href=""><span class="icon-inslides"></span></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
