---
title: Proyect Index
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-white'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_home", :locals => {
    :extra_classes => ''
  }) %>

</div>
<%= partial("shared/footer") %>
